@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --slate-800: #1e293b;
    --slate-700: #334155;
    --slate-500: #64748b;
    --slate-200: #e2e8f0;

    --gray-700: #374151;
    --gray-500: #6b7280;

    --indigo-700: #4338ca;
    --indigo-600: #4f46e5;
    --indigo-500: #6366f1;
    --indigo-100: #e0e7ff;

    --lime-700: #4d7c0f;
    --lime-600: #65a30d;
    --lime-500: #84cc16;
    --lime-200: #d9f99d;
    --lime-100: #ecfccb;

    --red-700: #b91c1c;
    --red-600: #dc2626;
    --red-500: #ef4444;

    --box-shadow: 0px 0px 20px 16px rgba(226, 232, 240, 0.18);
}

body {
    color: var(--slate-800);
    font-family: 'Poppins', sans-serif;
}

/*Overwrite element components*/

.el-button {
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

/* Card Overwrites */
.el-card {
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow);
}
.el-card.--log-card {
    margin-top: 3em;
    padding: 0.8em;
    width: 30em;
}
.el-card.--log-card #card-header .el-icon {
    color: var(--lime-500);
    font-size: 20px;
    margin-right: 0.5em;
}
.el-card.--log-card #card-header h2 {
    color: var(--slate-700);
    margin: 0;
}
.el-card.--log-card #card-header p {
    color: var(--slate-500);
    margin-top: 0;
    font-size: 14px;
}

/* Calendar */
.el-popper.is-light {
    border: 1px solid var(--slate-200);
    border-radius: 10px;
}

/* TODO: This needs refactoring */

.el-date-table td.available:hover {
    color: var(--indigo-700);
}

.el-date-table td.today .el-date-table-cell__text {
    color: var(--indigo-500);
}
.el-date-table td.current:not(.disabled) .el-date-table-cell__text {
    background-color: var(--indigo-500);
}
